/* ng-template {
    font-family: sans-serif;
    font-size: 13px;
    color: #909090;
    font-weight: lighter;
    border: 1px solid #d4d4d4;

} */
/* tbody,
tr {
    border-radius: 10px;
    border-color: solid black;
    
    border-width: 2px;
} 
.custom-table {
    border-radius: 10px; 
  } */
  :host ::ng-deep .custom-table .p-datatable {
    border-radius: 10px !important; /* Adjust the value to your desired border radius */
    border: 1px solid #ccc !important; /* Optionally, you can add a border */
    overflow: hidden;
  } 
  .custom-table tr {
    border: 1px solid #ccc; /* Light gray border */
  }
  