<div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 250px; height: 85vh">
    <ul class=" nav nav-pills flex-column mb-auto">
        <li>
            <a routerLink="/dashboard" class="nav-link text-white">
                <img src=" ../../../assets/dashboard.png">
                Dashboard
            </a>

        </li>
        <li>
            <a class="nav-link text-white">
                <i class="bi bi-person-square"></i>
                Recruitment
            </a>
        </li>
        <li>
            <a class="nav-link text-white">
                <i class="bi bi-person-lines-fill"></i>
                Employee
            </a>
        </li>
        <li>
            <a class="nav-link text-white">
                <i class="bi bi-download"></i>
                Attendance
            </a>
        </li>
        <li>
            <a class="nav-link text-white">
                <i class="bi bi-box-arrow-right"></i>
                Leave
            </a>
        </li>
        <li>
            <a class="nav-link text-white">
                <i class="bi bi-wallet2"></i>
                Payroll
            </a>
        </li>
        <li>
            <a class="nav-link text-white">
                <i class="bi bi-card-list"></i>
                Reports
            </a>
        </li>
    </ul>
    <hr>
    <li>
        <a class="nav-link text-white">
            <i class="bi bi-question-circle"></i>
            Help
        </a>
    </li>
</div>