hr {
  padding-bottom: 8px;
}

.dropdown-toggle {
  background-color: white;
  color: black;
  border: none;
}

.btn-success {
  margin: 0px 0px 21px 25px;
}
::ng-deep ul#pn_id_4_list,
::ng-deep ul#pn_id_5_list,
::ng-deep ul#pn_id_6_list,
::ng-deep ul#pn_id_7_list {
  padding: 1px;
}

::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.5rem 1.25rem;
}

.userForm .row:nth-of-type(2) .col {
  margin-bottom: 20px;
}
.userForm .row:nth-of-type(3) .col {
  margin-bottom: 20px;
}
::ng-deep.user-dropdown .p-dropdown {
  width: 24rem;
}
.btn-primary {
  margin-top: 1px;
  margin-left: 48em;
}
button {
  background-color: #0ab3d5;
  border: none;
}
button:focus,
button:hover,
.btn-success:focus,
.btn-success:hover {
  background-color: #0cccf3;
}

::ng-deep .p-dropdown-items-wrapper {
  height: 8vh;
}

::ng-deep.p-dropdown-panel .p-dropdown-header {
  padding: 0.3rem 0.25rem;
}

::ng-deep input.p-dropdown-filter.p-inputtext.p-component {
  padding: 5px;
  height: 25px;
}

.input-fields {
  padding: 8px 3px 8px 6px;
  width: 22rem;
  margin-bottom: 5px;
}
.disabled-button {
  opacity: 0.3;
}

/* For Dropdown */
.formgrid ::ng-deep.p-dropdown.p-component {
  width: 22rem;
}
