<button class="btn btn-success" (click)="showDialog()">+ Add Request</button>
<p-dialog
  header="Add Info"
  [(visible)]="visible"
  [style]="{ width: '60vw', height: '75vh' }"
  (onHide)="onClose()"
  ><hr />
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="formgrid grid">
    <div *ngFor="let control of formModel" class="field col-12 md:col-6">
      <label for="{{ control.key }}">{{ control.label }}</label>
      <div [ngSwitch]="control.controlType">
        <input
          class="input-fields"
          *ngSwitchCase="'input'"
          [formControlName]="control.key"
          pInputText
          type="{{ control.type }}"
        />

        <p-dropdown
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          id="{{ control.key }}"
          name="{{ control.key }}"
          *ngSwitchCase="'dropdown'"
          [formControlName]="control.key"
          [options]="control.options"
          optionLabel="label"
          optionValue="id"
          placeholder="Select a {{ control.label }}"
        ></p-dropdown>

        <div *ngIf="form.get(control.key)?.errors?.['apiError']">
          <small
            class="text-danger"
            >{{ form.get(control.key)?.errors?.['apiError'] }}</small
          >
        </div>

        <!-- <div
          *ngIf="
        form.get(control.key)?.errors?.['required'] &&(form.get(control.key)?.touched|| form.get(control.key)?.dirty)
      "
        >
          <small class="text-danger"
            >The {{ control.label }} field is required.</small
          >
        </div>
        <div
          *ngIf="form.get(control.key)?.errors?.['minlength'] && (form.get(control.key)?.touched ||form.get(control.key)?.dirty)"
        >
          <small class="text-danger">Min length should be 8.</small>
        </div>
        <div
          *ngIf=" form.get(control.key)?.errors?.['pattern'] && (form.get(control.key)?.touched ||form.get(control.key)?.dirty)"
        >
          <small class="text-danger">Enter 0 or 1</small>
        </div> -->
      </div>
      <!-- <div
        *ngIf="
      form.get(control.key)?.errors?.['email'] &&(form.get(control.key)?.touched|| form.get(control.key)?.dirty)
    "
      >
        <small class="text-danger">Email is invalid</small>
      </div> -->
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary" pButton pRipple>
          Submit
        </button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog
  header="Edit Info"
  [(visible)]="visibleEdit"
  [style]="{ width: '60vw', height: '75vh' }"
>
  <hr />
  <form
    [formGroup]="updateForm"
    (ngSubmit)="submitEditForm(selectedId)"
    class="formgrid grid"
  >
    <div *ngFor="let control of formModel" class="field col-12 md:col-6">
      <label for="{{ control.key }}">{{ control.label }}</label>
      <div [ngSwitch]="control.controlType">
        <input
          class="input-fields"
          *ngSwitchCase="'input'"
          [formControlName]="control.key"
          pInputText
          type="{{ control.type }}"
        />
        <p-dropdown
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          *ngSwitchCase="'dropdown'"
          [formControlName]="control.key"
          [options]="control.options"
          optionLabel="label"
          optionValue="id"
          placeholder="Select a {{ control.label }}"
        ></p-dropdown>
        <div *ngIf="form.get(control.key)?.errors?.['apiError']">
          <small
            class="text-danger"
            >{{ form.get(control.key)?.errors?.['apiError'] }}</small
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary" pButton pRipple>
          Save
        </button>
      </div>
    </div>
  </form>
</p-dialog>
