<div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="height:90vh">
    <ul class=" nav nav-pills flex-column mb-auto">
        <li>
            <a routerLink="/shared/dashboard" routerLinkActive="active" class="nav-link text-white">
                <img src="assets/dashboard.png">
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/shared/project" routerLinkActive="active" class="nav-link text-white">
                <i class="bi bi-person-square"></i>
                Project
            </a>
        </li>
        <li>
            <a routerLink="/shared/department" routerLinkActive="active" class="nav-link text-white">
                <i class="bi bi-download"></i>
                Department
            </a>
        </li>
        <li>
            <a routerLink="/shared/designation" routerLinkActive="active" class="nav-link text-white">
                <i class="bi bi-box-arrow-right"></i>
                Designation 
            </a>
        </li>
        <li>
            <a class="nav-link text-white" routerLinkActive="active">
                <i class="bi bi-wallet2"></i>
                Users 
                <!-- <i class="bi bi-chevron-down"></i> -->
            </a>
        </li>
        <li>
            <a class="nav-link text-white">
                <i class="bi bi-card-list"></i>
                Reports 
                <!-- <i class="bi bi-chevron-down"></i> -->
            </a>
        </li>
    </ul>
    <hr>
    <li>
        <a class="nav-link text-white">
            <i class="bi bi-question-circle"></i>
            Help
        </a>
    </li>
</div>