.d-flex.flex-column.flex-shrink-0.p-3.text-white {
    position: fixed;
    top: 30;
    left: 0;
    height: 100vh;
    /* Set the height of the fixed container to the viewport height */
    width: 28vh;

    /* Enable vertical scrolling within the fixed container */

    /* Set background color */
    padding: 20px;
    z-index: 1;
}

.help {
    margin-top: 14rem;
}

li {
    list-style: none;
}

a {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

a:nth-child(3) {
    background-color: lightblue;
}

i {
    margin-right: 5px;
}


a img {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg) brightness(99%) contrast(107%);
    background-color: #ffffff;
    margin-right: 5px;
}

.nav-pills .nav-link.active {
    background-color: rgba(147, 221, 255, 0.368);
}

.nav-pills .nav-link {
    border-radius: 3px;
    padding-right: 10px;
}