

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Attendance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Exemption</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Shift</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Workseet</a>
    </li>
</ul>
<p-table [value]="employee" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    class="custom-table">
    <ng-template pTemplate="header">

        <tr>
            <th>
              <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
              {{ tableHeading[0] }}
            </th>
            <ng-container *ngFor="let heading of tableHeading; let first = first">
              <th *ngIf="!first">{{ heading }}</th>
            </ng-container>
          </tr>
      
    </ng-template>
    <ng-template pTemplate="body" let-employee let-index="index">
        <tr>

            <td> <input type="checkbox" [(ngModel)]="employee.checked">{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.country}}</td>
            <td>{{ employee.company }}</td>
            <td>{{employee.status}}</td>
            <td> <i class="bi bi-person-fill" style="margin-left: 25px;"></i></td>
            <td>{{employee.added}}</td>
            <!-- <td>{{employee.action}}</td> -->
            <td>
                <div class="dropdown">
                    <i class="bi bi-three-dots" (click)="toggleDropdown(employee)"></i>
                    <ul class="dropdown-menu" [ngStyle]="{'display': employee.isDropdownOpen ? 'block' : 'none'}">
                      <li><a class="dropdown-item" (click)="editItem(employee)">Edit</a></li>
                      <li><a class="dropdown-item" (click)="viewItem(employee)">View</a></li>
                    </ul>
                  </div>
              </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>

