<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Attendance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Exemption</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Shift</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Worksheet</a>
    </li>
</ul>
<app-spinner></app-spinner>

<button class="btn btn-success" (click)="showDialog()"> Add</button>
<p-dialog header="Add Info" [(visible)]="visible" [style]="{width: '50vw'}">
    <form [formGroup]="formDepartment" (ngSubmit)="submitForm()">
       
        <label class="form-label">Department Name</label>
        <input formControlName="department" type="name" class="form-control form-control-lg" />
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</p-dialog>
<p-table [value]="data" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    class="custom-table">
    <ng-template pTemplate="header">
        <tr>
            <th>
                <input type="checkbox" (change)="bulk($event)">

            </th>
            <ng-container *ngFor="let heading of tableHeading; let first = first">
                <th>{{ heading }}</th>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-index="index">
        <tr>
            <td> <input type="checkbox" [checked]="checks"></td>
            <ng-container>
                <!-- *ngFor="let property of getDataProperties(data)" -->
                <td>{{data.id}} </td>
                <td>{{data.department}} </td>
            </ng-container>

            <td>
                <div class="dropdown">
                    <i class="bi bi-three-dots" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="editItem(data.id)">Edit</a></li>
                        <li><a class="dropdown-item" (click)="deleteItem(data.id)">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>

    </ng-template>
</p-table>