<p-messages
  [(value)]="messages"
  [enableService]="false"
  [closable]="false"
></p-messages>
<h3>Users</h3>

<app-form
  [apiErrors]="apiErrors"
  [dataFromUserProj]="userProjData"
  [dataFromUserDepart]="userDepartData"
  [dataFromUserDesig]="userDesigData"
  controlName="user"
  [formGroup]="userForm"
  (submitFormEvent)="submitUserForm()"
  [formGroup]="updateUserForm"
  (submitEditFormEvent)="submitEditUserForm()"
  [data]="userData"
></app-form>
<app-grid [tableHeading]="userTableHeading" [data]="userData"></app-grid>
