<p-messages
  [(value)]="messages"
  [enableService]="false"
  [closable]="false"
></p-messages>
<h3>Users</h3>
<app-form
  [dataFromUserProj]="userProjData"
  [dataFromUserDepart]="userDepartData"
  [dataFromUserDesig]="userDesigData"
  controlName="user"
  [formGroup]="userForm"
  (submitFormEvent)="submitUserForm()"
  [formGroup]="updateUserForm"
  (submitEditFormEvent)="submitEditUserForm()"
  [formModel]="dynamicUserForm"
  [visible]="visible"
  [visibleEdit]="visibleEdit"
></app-form>
<app-grid [tableHeading]="userTableHeading" [data]="userData"></app-grid>
